/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
  width: 80px;
  height: 80px;
  padding: 10px;
}
.countries > li {
  border: 2px solid white;
}
