/* Try different box model properties below */
.site-header p:last-child {
  color: white;
}
.site-header > p {
  margin-bottom: 0px;
}

.site-wrapper div:last-child {
  font-size: 12px;
  text-align: center;
}
.site-wrapper div > div:last-child {
  box-shadow: 4px 4px 0 #dba944;
}
